<% provide(:title, "登录") %>
<h1 style="margin-top: 50px">登录</h1>
<div class="row zj">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit "登录", class: "btn btn-primary" %>
    <% end %>
    <p style="font-size: 18px;">新用户? <%= link_to "注册!", signup_path %></p>
  </div>
</div>