<% provide(:title, '注册') %>
<h1>Sign up</h1>
<div class="row zj">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object%>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, "确认密码" %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit "创建账户", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>