<div class="container theme-showcase">
    <div class="page-header">
        <span style="font-size: 25px">商品介绍</span>
    </div>
    <div class="col-md-6">
      <img class="img-thumbnail" data-img="1" width="350" height="350" src="<%= @product.img %>">
    </div>
    <div class="col-md-6">
        <p class="lead">
          <pre style="padding: 0px;white-space: pre-wrap; word-wrap: break-word; font-size: 16px;">
            <div style="margin-left: 100px;">
            <span  style="height: 350px"><%= @product.desc %></span></div>
          </pre>
        </p>
    </div>
</div>
<div class="container theme-showcase">
    <div class="page-header">
      <span style="font-size: 25px">差评分析</span>
    </div>
    <div style="margin-left: 30px">
      <% if !@product.tags.nil? %>
          <% @product.tags.split.each do |tag| %>
            <span class="label label-danger" style="font-size: 16px;"><%= tag %></span>
          <% end %>
      <% end %>
    </div>
</div>
<div class="container theme-showcase">
    <div class="page-header">
      <span style="font-size: 20px">评论区</span>
    </div>
    <ul style="margin-bottom: 50px">
    <% @comments.each do |comment| %>
        <li>
          <% if comment.name.nil? %>
              <% name = comment.user.name %>
              <% time = time_ago_in_words(comment.create_at) %>
          <% else %>
              <% name = comment.name %>
              <% time = time_ago_in_words(comment.release_time) %>
          <% end %>
            <span class="content">
              <pre><%= comment.content.strip %> <span class="text-muted"><%=" #{name} 来自京东 Posted #{time} ago" %></span></pre>
            </span>
        </li>
    <% end %>
    </ul>
    <%= render 'shared/comment_form'%>
</div>