<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">差评网</a>
      </div>
      <nav>
        <ul class="nav navbar-nav pull-right ">
          <li><%= link_to "首页", root_path %></li>
          <% if signed_in? %>
              <li><%= link_to "用户列表", users_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  账户 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "个人资料", current_user %></li>
                  <li><%= link_to "设置 ", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "注销", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "登录", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>